.blurb {
    margin: 0 0;
    padding: 7% 5%;
}

.btn-lg {
    border: 0 none;
    border-radius: 0;
    padding: 10px 20px;
}

.cap {
    margin-top: 100px;
    margin-bottom: 0;
    padding: 0;
}

.card {
    border: 0 none;
}

.sans-serif {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-size: 0.9rem;
}

.card-img-top {
    height: 250px;
}

.center-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.footer {
    padding: 0 15%;
}

.footer-links {
    display: flex;
    flex-direction: row;
}

.image-div {
    overflow: hidden;
    object-fit: cover;
}

.italics {
    font-style: italic;
}

.fas {
    padding-left: 15px;
}

.link-title {
    font-style: italic;
}

.link-space {
    padding-bottom: 18px;
}

.links-col {
    width: 50%;
}

.links-div {
    height: 500px;
}

.navbar-brand {
    padding: 0 20px;
}

.navbar-collapse {
    margin-left: 20%;
    padding: 30px 0 0 0;
}

.navbar-light .navbar-brand:hover {
    color: #00356b;
}

.navbar-light .navbar-nav .nav-link {
    color: #286dc0;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    vertical-align: bottom;
}

.navbar-light .navbar-brand {
    font-family: "Playfair Display", serif;
    font-size: 3.5rem;
    color: #00356b;
}

.navbar-nav .nav-item {
    padding-left: 18px;
    padding-right: 0;
}

.news-header {
    margin: 0 0;
    padding: 2% 0;
    text-align: center;
}

.padded-container {
    padding: 0 10%;
}

.row {
    margin-bottom: 25px;
}

.scrollable {
    overflow-y: auto;
    max-height: 1000px;
}

.serif {
    font-family: "Playfair Display", serif;
}

.top-links {
    font-size: 1.5rem;
    padding: 100px 10%;
    text-align: right;
}

.yale-accent {
    background-color: #286dc0;
}

.yale-primary {
    background-color: #00356b;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
}

img {
    object-fit: cover;
}

ul {
    list-style-type: none;
}

#blurb-header {
    font-size: 3rem;
    margin: 0 0;
}

#blurb-subtitle {
    font-size: 2rem;
}

#footer-div {
    margin: 50px 0;
    width: 100%;
}

#inset {
    height: 250px;
    width: 520px;
    position: absolute;
    left: 60px;
    bottom: -60px;
    margin: 0 0;
}


#splash-cap {
    margin-bottom: 70px;
    position: relative;
}

@media only screen and (max-width: 1200px) {
    .navbar-collapse {
        margin-left: 10%;
        padding: 30px 0 0 0;
    }
}

@media only screen and (max-width: 800px) {
   #inset {
        width: 100%;
       height: auto;
        position: relative;
        margin-top: 0px;
        left: 0;
        bottom: 0;
       padding: 20px;
    }
}


 

